/* 
FONTS AND COLORS
*/

:root {
  --primaryGold: #f4da9d;
  --primaryBlack: #050505;
  --primarySilver: #d8d5d0;
  --primaryRed: #6b0000;
}
body {
  font-family: 'Lato', sans-serif;
  background: var(--primaryBlack);
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif !important;
}
.testing {
  border: 0.5px solid green;
}
/* BUTTON */
.book-button {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  letter-spacing: 0.2rem !important;
  background: var(--primaryRed);
  max-width: 45rem;
  border: 5px solid var(--primaryGold);
  border-radius: 0;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
.book-button:hover {
  background: var(--primaryBlack);
}

/* NAVBAR */
.navbar {
  background: var(--primaryBlack);
  -webkit-box-shadow: 0px 1px 10px var(--primaryBlack);
  -moz-box-shadow: 0px 1px 10px var(--primaryBlack);
  box-shadow: 0px 1px 10px var(--primaryBlack);
}
.nav-text {
  font-family: 'Lato', sans-serif;
  color: var(--primaryGold) !important;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.navbar-logo {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.nav-hamburger {
  color: var(--primaryGold) !important;
}

.nav-link {
  font-size: 1.6rem;
  padding: 0 !important;
  border-bottom: solid 3px transparent;
  width: fit-content;
}

.nav-link:hover {
  border-bottom: solid 3px var(--primaryRed);
}

/* HOME */
.home-container {
  display: flex;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1569832947682-77c9164611df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1917&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--primaryBlack);
  background-size: cover;
}

.home-container-spacer {
  height: 15rem;
}

.home-container-spacer-sm {
  height: 5rem;
}

.home-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-text {
  font-family: 'Lato', sans-serif;
  color: var(--primaryGold) !important;
  letter-spacing: 0.15rem !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 5rem;
}

.home-title {
  color: var(--primaryGold);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5rem !important;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.book-button-home {
  font-family: 'Roboto', sans-serif;
  color: var(--primaryGold) !important;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
}

/* ABOUT */
.about-container {
  background-color: var(--primaryBlack);
  height: fit-content;
}

.about-content-div {
  justify-content: center;
  width: 100%;
  background-color: var(--primaryBlack);
}

.about-div {
  background-color: transparent;
  border: none;
  margin-top: 5%;
}
.shop-about-div {
  margin: 10% 0 !important;
}
.about-title {
  color: var(--primaryGold);
  border: 5px solid var(--primaryGold);
  background: var(--primaryRed);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem !important;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 0.5rem 0 0.65rem !important;
}

.card-img {
  max-width: 30vw;
  border-radius: 0;
}
.about-text {
  font-family: 'Lato', sans-serif;
  color: var(--primaryGold) !important;
  letter-spacing: 0.15rem !important;
  text-transform: uppercase;
  text-align: justify;
  font-size: 1rem;
  max-width: 40%;
  margin-left: 5%;
}

/* SOCIAL */

.social-div {
  margin: 10% 0;
}

.social-title {
  font-family: 'Lato', sans-serif;
  color: var(--primaryGold);
  letter-spacing: 0.15rem !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem !important;
  padding: 0 !important;
}

.social-link-list {
  width: 80%;
  justify-content: space-evenly;
  align-items: flex-end;
}

.social-icon {
  color: var(--primaryGold);
  padding: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  border-radius: 0;
  border-bottom: 3px solid transparent;
}

.social-icon:hover {
  color: var(--primaryGold);
  border-bottom: 3px solid var(--primaryRed);
}

/* SERVICES */

.services-container {
  text-align: center;
  height: fit-content;
}

.services-div {
  margin-top: 5.5%;
  background-color: transparent;
  border: none;
}

.service-card-container {
  margin-top: 0;
}

.service-card {
  margin-bottom: 5%;
  background-color: transparent;
  border-radius: 0;
}

.service-title {
  padding: 0.5rem 0.5rem 0.5rem 0.65rem !important;
}
.services-title {
  font-family: 'Lato', sans-serif;
  color: var(--primaryGold);
  letter-spacing: 0.15rem !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem !important;
  padding: 0 !important;
}

.service-card-img {
  max-width: 30vw;
}

.service-price {
  font-style: italic;
  font-size: 1.6rem;
}

.service-text {
  font-family: 'Lato', sans-serif;
  color: var(--primaryGold) !important;
  letter-spacing: 0.15rem !important;
  text-transform: uppercase;
  text-align: justify;
  font-size: 1rem;
}

.service-button-div {
  width: fit-content;
}

/* MEDIA QUERIES */

/* LARGER SCREENS */
@media (max-width: 992px) {
  .about-content-div {
    align-items: center !important;
    flex-direction: column !important;
  }
  .about-div {
    margin-top: 15%;
  }
  .services-div {
    margin-top: 15%;
  }
  .card-img {
    max-width: 75%;
  }
  .about-text {
    max-width: 75%;
    margin-left: 0;
    text-align: justify;
    padding: 0;
    margin-top: 2rem;
  }
  .shop-about-div {
    margin: 10% 0 !important;
  }
}

/* MEDIUM SCREENS */

@media (max-width: 768px) {
  .about-div {
    margin-top: 30%;
  }
  .services-div {
    margin-top: 30%;
  }
  .about-title {
    font-size: 2.5rem;
  }
  .home-text {
    font-size: 1rem;
  }
  .book-button-home {
    font-size: 1.6rem;
  }
  .nav-link {
    font-size: 1rem;
  }
}

/* SMALL SCREENS */

@media (max-width: 576px) {
  .about-div {
    margin-top: 40%;
  }
  .social-link-list {
    justify-content: space-between;
  }
  .social-icon {
    border-bottom: 3px solid var(--primaryRed);
  }
  .services-div {
    margin-top: 40%;
  }
}
