/* 
FONTS AND COLORS
*/

:root {
  --primaryGold: #f4da9d;
  --primaryBlack: #1e1c1a;
  --primarySilver: #d8d5d0;
  --primaryRed: #6b0000;
}
body {
  font-family: 'Lato', sans-serif;
  background: var(--primaryBlack);
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif !important;
}
.testing {
  border: 0.5px solid green;
}
/* BUTTON */
.book-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background: var(--primaryBlack);
  max-width: 45rem;
  border: 5px solid var(--primaryGold);
  border-radius: 0;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
}
.book-button:hover {
  /*   color: var(--primaryBlack) !important;
 */
  background: var(--primaryRed);
  /*   border-color: var(--primaryBlack);
 */
}

/* NAVBAR */
.navbar {
  background: var(--primaryBlack);
}
.nav-text {
  font-family: 'Roboto', sans-serif;
  color: var(--primaryGold) !important;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.navbar-logo {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}

.nav-hamburger {
  color: var(--primaryGold) !important;
}

.nav-link {
  font-size: 1.5rem;
  padding: 0 !important;
}

.nav-link:hover {
  border-bottom: solid 3px var(--primaryRed);
}

.nav-link:active {
  display: hidden;
}

/* HOME */
.home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
